@model UserSignInViewModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Kayit Ekrani</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="~/snow-login-form-starter/css/style.css" type="text/css" media="all" />
</head>

<body>
	<!-- login form -->
	<section class="w3l-login">
		<div class="overlay">
			<div class="wrapper">
				<div class="logo">
					<a class="brand-logo">Kullanici Giris Formu</a>
				</div>
				<div class="form-section">
					<form asp-action="Login" method="post" class="signin-form">
						<div class="form-input">
							<input type="text" asp-for="userName" placeholder="Ad Soyad" autofocus>
							<span asp-validation-for="userName" class="text-bg-danger"></span>
						</div>
						<div class="form-input">
							<input type="password" asp-for="password" placeholder="Sifre" >
							<span asp-validation-for="password" class="text-bg-danger"></span>
						</div>
						<button type="submit" class="btn btn-primary theme-button mt-4">Giris Yap</button>
					</form>
					<p class="signup">Hesabin yok mu ?<a href="/RegisterUser/Register" class="signuplink">Giris Yap</a></p>
					<div class="text-danger" asp-validation-summary="ModelOnly"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- /login form -->
</body>
</html>

