@model IEnumerable<AboutSlider>
@{
    ViewData["Title"] = "AboutSliderInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                            #
                          </th>
                          <th>
                            Slider Icon
                          </th>
                          <th>
                            Slider Basligi
                          </th>
                          <th>
                            Slider Kisa Aciklamasi
                          </th>
                          <th>
                            Guncelle
                          </th>
                        </tr>
                      </thead>
                      <tbody>
            @foreach (var item in Model)
            {

                            <tr class="table-success">
                              <td>
                        @item.SliderId
                              </td>
                              <td>
                        @item.SliderIcon
                              </td>
                              <td>
                        @item.SliderTitle
                              </td>
                              <td>
                        @item.SliderShortDescription
                              </td>
                              <td>
                            <td><a href="/AboutSlider/AboutSliderDelete/@item.SliderId" class="btn btn-outline-success">Sil</a></td>
                            <td><a href="/AboutSlider/AboutSliderEdit/@item.SliderId" class="btn btn-outline-success">Güncelle</a></td>
                            </tr>
            }

                      </tbody>
                    </table>
                    <br />
                    <td><a href="/AboutSlider/AboutSliderAdd/" class="btn btn-outline-success">Ekle</a></td>
                    <br />
                  </div>
