      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/NewHome/NewHomeInfo">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">New Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/AboutSlider/AboutSliderInfo">
              <i class="mdi mdi-circle-outline menu-icon"></i>
              <span class="menu-title">About Slider</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Message/MessageInfo">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title">Messages</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/GetInTouch/GetInTouchInfo">
              <i class="mdi mdi-chart-pie menu-icon"></i>
              <span class="menu-title">Get In Touch</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Portfolio/PortfolioInfo">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Portfolio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/NewAbout/NewAboutInfo">
              <i class="mdi mdi-account menu-icon"></i>
              <span class="menu-title">New About</span>
            </a>
          </li>
        </ul>
      </nav>
