@model NewAbout
@{
    ViewData["Title"] = "NewAboutInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h4 class="card-title">New About Info</h4>
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>#</th>
<th>Ana Resim</th>
<th>Baslik</th>
<th>Aciklama</th>
<th>Güncelle</th>
</tr>
</thead>
<tbody>
<tr>
<td>@Model.NewId</td>
<td>@Model.Photo</td>
<td>@Model.Title</td>
<td>@Model.Description</td>
<td><a href="/NewAbout/NewAboutEdit/@Model.NewId" class="btn btn-outline-success">Güncelle</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>