@model GetInTouch

@{
    ViewData["Title"] = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">GET IN TOUCH</h2>

                <ul class="contact-details">
                  <li><span>@Model.District</span></li>
                  <li><span>@Model.CityCountry</span></li>
                  <li><span>@Model.PhoneNumber</span></li>
                  <li><span>@Model.Email</span></li>
                </ul>

              </div>
            </div>