@model Message

<div class="col-lg-6">
              <form  method="post" asp-controller="Home" asp-action="MessageAdd">
                <div class="row gy-3">

                  <div class="col-lg-6">
                    <div class="form-group contact-block1">
                      <input type="text" asp-for="Name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control" asp-for="Surname" id="email" placeholder="Your Email" required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="text" class="form-control" asp-for="Subject" id="subject" placeholder="Subject" required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea class="form-control" asp-for="FormMessage" placeholder="Message" required></textarea>
                    </div>
                  </div>
                  <div class="mt-0">
                    <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                    @*<button type="submit" class="btn btn-defeault btn-send">Kaydet</button>*@
                  </div>

                </div>
              </form>
            </div>